MYSQL_ROOT_PASSWORD=password123
MYSQL_DATABASE=dumby
MYSQL_USER=dumby
MYSQL_PASSWORD=devpassword
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307

PIXABAY_API_KEY=PIXABAY_KEY
PIPER_VOICE_MODEL=./piper-voices/voice.onnx
PEXELS_API_KEY=PEXELS_KEY
YOUTUBE_API_KEY=YOUTUBE_KEY
FREESOUND_API_KEY=FREESOUND_KEY

GEMANI_MODEL=gemini-3.5-flash-lite
GEMINI_API_KEY=GEMINI_KEY

GOOGLE_TTS_API_KEY=GOOGLE_TTS_KEY

